.home-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    nav {
        display: flex;
        padding: 5px;
        gap: 10px;
        font-family: system-ui, sans-serif;

        hr {
            width: 3px;
            background-color: black;
            border: none;
            border-radius: 5px;
        }

        & a {
            cursor: pointer;
            text-decoration: none;
        }

        & a:visited{
            color: unset;
        }
        & a:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.searching-field {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 50%;
    padding: 10px;

    & h1 {
        font-family: 'Open Sans', system-ui, sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }
}

.custom-input {
    height: 30px;
    border: 1px solid #a7a7a7;
    font-family: 'Open Sans', system-ui, sans-serif;
    padding: 5px;
    width: 100%;
    border-radius: 15px;
}

.custom-input:focus {
    outline: none;
}