
.searching-field {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;

    & h1 {
        font-family: 'Open Sans', system-ui, sans-serif;
        font-size: 1.5rem;
        text-align: center;
    }
}
.icon-input-field{
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-input {
    height: 30px;
    border: 1px solid #a7a7a7;
    font-family: 'Open Sans', system-ui, sans-serif;
    padding: 5px;
    width: 300px;
    border-radius: 7px;
}

.custom-input:focus {
    outline: none;
}