main {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;

    & h3 {
        font-family: 'Open Sans', sans-serif;
        text-decoration: underline;
    }
}

.history-keywords{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
    padding: 10px;
    width: 60%;


    & h4{
        font-family: 'system-ui', sans-serif;
    }

}

.each-keyword{
    font-size: 1.2rem;
    padding: 7px;
    border-radius: 4px;
    transition: all 300ms linear;

    & hr {
        border-radius:  100%;
        outline: 1px solid #424141;

        border: 1px solid white;

        width: 40px;
        margin: auto;
        box-shadow: 1px 1px 0 2px #424141 ;
        background-color: #424141;
    }


}


.each-keyword:hover{
    outline: 1px solid black;

}


.each-keyword, h3, .go-back-link{
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
    cursor: pointer;
}
button{
    border: none;
}
.go-back-link{
    position: relative;
    margin:10px;
    padding: 7px;
    border-radius: 2px;
    background-color: white;
    text-decoration: none;
    outline: 1px solid #424141;
    color: #424141;
    box-shadow: 3px 3px 0 2px #424141;
    transition: all 300ms linear;
}
.go-back-link:hover{
    scale: 1.02;
    color: #282424;
    font-weight: bold;
    box-shadow: 4px 4px 0 2px #424141;
}
.go-back-link:focus{
    outline: 1px solid #424141;

}
.go-back-link:active{
    scale: 0.95;
    box-shadow: 1px 1px 0 2px #424141;
}